<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/cold.jpeg" *ngIf="14 > 15">
    <img src="../assets/hot.jpeg" *ngIf="14 <= 15">

    <div class="weather-data">
      <div class="location">Mumbai</div>
      <div class="temperature">{{41.40 | number:'1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets//min.jpg" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          111 km/pr
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets//max.jpg" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          20°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humiditi.jpg" alt="">
          <span>humiditi</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet> -->

<div class="topnav" id="myTopnav">
  <a href="login">Home</a>
  <a href="weather">Weather</a>
  <a href="Saved">Saved</a>
  <a href="graph">Graph</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<router-outlet></router-outlet>
